#workbenchPageContent {
  max-width: 100%;
  margin: 0;
}

.content_3f3fd3c2,
.CanvasZone {
  padding: 0 !important;
  max-width: 100% !important;
}

#spCommandBar {
  display: none !important;
}

[data-automation-id="CanvasZone-SectionContainer"] {
  padding: 0px !important;
}

[data-automation-id="contentScrollRegion"] {
  overflow-y: hidden !important;
}

[data-automationid="SiteHeader"] {
  display: none !important;
}

[data-automationid="SimpleFooter"] {
  display: none !important;
}

.spAppAndPropertyPanelContainer {
  padding-bottom: 0px !important;
}

/* Full width */
.spAppAndPropertyPanelContainer .sp-appBar {
  display: none !important;
}

.dropDownFullField .ant-select {
  width: 100% !important;
}

.phoneNumberInput .ant-select-selector {
  border-right: 0px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.ant-checkbox {
  border: 1px solid #d9d9d9;
}

.ant-input {
  padding-left: 8px !important;
}

#CommentsWrapper {
  display: none !important;
}